.list-group {
    border-radius: 8px;
    height: 100%;
    width: max-content;
    padding-left: 1.5em;
}



.list-group-item {
    padding-bottom: 1em;
    padding-inline: 5px;
    cursor: pointer;


}

.active {
    font-weight: bold;
}

.count {
    font-size: 0.8em;
}