.list-group {
    display: flex;
    border-radius: 8px;
    height: 100%;
    margin-inline: auto;
    width: fit-content;


}



.list-group-item {
    padding-bottom: 1em;
    cursor: pointer;


}

.active {
    font-weight: bold;
}