* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
}

ul {
  list-style: none;
}

li {
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.task {
  font-size: 1.6rem;
  display: flex;
  border: 1px solid rgba(3, 69, 131, 0.1);
  border-radius: 30px;
  width: 80%;
  max-width: 240px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  box-shadow: 4px 4px 10px rgba(3, 69, 131, 0.4);
}

.task__text {
  flex-grow: 1;
}

.task--completed .task__text {
  text-decoration: line-through;
  text-decoration-color: darkgrey;
}

.task-list {
}
