* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
  font-size: 1.8rem;


}

ul [class] {
  list-style: none;
}

li {}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5em 1em;

}

input {
  display: inline-block;
  margin-inline: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;


}

input:focus,
input:active {
  outline: none;
}


.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(3, 69, 131, 0.2);
  min-height: 50rem;

  /* background: rgb(219, 212, 223);
  background: -moz-linear-gradient(180deg, rgba(219, 212, 223, 1) 0%, rgba(240, 240, 240, 1) 35%);
  background: -webkit-linear-gradient(180deg, rgba(219, 212, 223, 1) 0%, rgba(240, 240, 240, 1) 35%);
  background: linear-gradient(180deg, rgba(219, 212, 223, 1) 0%, rgba(240, 240, 240, 1) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbd4df", endColorstr="#f0f0f0", GradientType=1); */

  background: rgb(213, 223, 212);
  background: -moz-linear-gradient(180deg, rgba(213, 223, 212, 1) 0%, rgba(240, 240, 240, 1) 35%);
  background: -webkit-linear-gradient(180deg, rgba(213, 223, 212, 1) 0%, rgba(240, 240, 240, 1) 35%);
  background: linear-gradient(180deg, rgba(213, 223, 212, 1) 0%, rgba(240, 240, 240, 1) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5dfd4", endColorstr="#f0f0f0", GradientType=1);

}

.title {
  text-align: center;
  margin-top: 4rem;
}